<!doctype html>
<html lang="en">
  
<head>
    <link rel="stylesheet" type="text/css" href="//culture-zine.glitch.me/culture/styles/glitch.css">
    <link rel="stylesheet" type="text/css" href="//culture-zine.glitch.me/culture/styles/styles.css">
    <style>
      iframe {
        width: 1px;
        min-width: 100%;
      }
    </style>  
</head>

<body>
  <div class="post" style="margin-top: 0px">
      {{#get "posts" limit="1" include="tags" filter="tags:revisionpath" }}
        {{#foreach posts}}
          <h2 style="margin-top: 0px">
            <a href="https://glitch.com{{url}}" target="_parent">
            {{title}} 
            </a>
          </h2>
          <iframe id="latestRP" height="200px" width="100%" frameborder="no" class="inline-content" scrolling="no" seamless src="https://latest-podcast-episode.glitch.me/latestrp"></iframe>
          <p>
            {{excerpt}}
          </p>
        {{/foreach}}
      {{/get}} 
  </div>
  <script src="/culture/logic/iframeResizer.min.js"></script>
  <script src="/culture/logic/iframeResizer.contentWindow.min.js"></script>  
  <script>
    iFrameResize({ log: false, checkOrigin: false }, '#latestRP')
  </script>  
</body>