{{!< default}}
<section class="post-list">  
{{#post}}
  <img src="https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fopen-world-placeholder.jpg?v=1569347673807" class="post-feature-image mask mask-1" />
  <h1 class="post-title">{{title}}</h1>
  <article id="{{id}}" class="{{post_class}}">
    {{content}}
  </article> 
{{/post}}
</section>