{{!< default}}
<section class="post-list">  
{{#post}}
  <img src="/culture/content/images/2018/11/Untitled-1-7.jpg" class="post-feature-image mask mask-1" />
  <h1 class="post-title">{{title}}</h1>
  <article id="{{id}}" class="{{post_class}}">
    {{content}}
  </article> 
{{/post}}
</section>