<header role="banner" class="content">
  <div class="header-info">
    <a href="https://glitch.com"><img class="logo" src="https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Flogo-news.svg?1538763558089" alt="Glitch" /></a>
    <nav>
      <form action="https://glitch.com/search" class="search-form" role="search">
        <input type="text" name="q" id="search-field" class="search-input" placeholder="bots, apps, people">
        <input type="submit" id="search-submit" class="search-submit screen-reader-text" value="Search">
      </form>
      <!-- <a href="https://glitch.com">
        <button class="button button-small button-cta">
          Create on Glitch
        </button>
      </a> -->
    </nav>
  </div>
</header>
